body {
  background-color: pink;
    text-align: center;
    color: white;
 font-family: "Lucida Console", monospace;
   font-size: 50 px;
}
  border: 2px white;
  border-radius: 8px;
  padding: 5px;

h1 {
  color: white;
  margin-left: 20 px;
   font-family: "Lucida Console", monospace;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8 px;
  background-color: pink;
  color: white;
}
